label {
  margin-bottom: 0;
}

.form {
  &-control {
    height: 32px;
    padding: 0 12px;
  }
}

.row {
  margin-bottom: 16px;
}

input {
  box-shadow: none !important;

  &.ng-invalid.ng-touched {
    border-color: red;
  }
}
